* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Arial;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
}

.container {
	width: 540px;
	max-width: calc(100% - 16px);
	margin: 0 auto;
	padding: 32px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

h1, h2 {
	margin-bottom: 8px;
	display: inline-block;
}

h1 {
	color: #222222;
	font-size: 28px;
}

h2 {
	color: #888888;
	font-size: 16px;
	margin-left: 8px;
	vertical-align: baseline;
}

.checkboxes {
	margin-top: 8px;
	float: right;
}

.buttons {
	margin-top: 16px;
	float: right;
}

input {
	width: 100%;
	padding: 12px;
	border: 1px solid #222222;
	border-radius: 4px;
	color: #222222;
	font-size: 14px;
}

input:disabled {
	opacity: 0.5;
}

input[type="text"], input[type="number"], select {
	margin-top: 16px;
}

input[type="checkbox"] {
	width: auto;
	margin-right: 8px;
	cursor: pointer;
	display: inline-block;
}

label {
	font-size: 14px;
	line-height: 14px;
	margin-left: 16px;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	input[type="checkbox"] {
		margin-right: 4px;
	}

	label {
		font-size: 12px;
		margin-left: 8px;
	}
}

select {
	width: 100%;
	padding: 12px;
	background-color: transparent;
	border: 1px solid #222222;
	border-radius: 4px;
	cursor: pointer;
}

button {
	color: #ffffff;
	margin-left: 8px;
	padding: 12px 16px;
	border-radius: 4px;
	cursor: pointer;
}

button:disabled {
	opacity: 0.5;
	cursor: default;
}

.submit {
	background-color: #4caf50;
}

.submit:hover {
	background-color: #81c883;
}

.submit:active {
	background-color: #357a38;
}

.submit:disabled {
	background-color: #4caf50 !important;
}

.reset {
	background-color: #ff9800;
}

.reset:hover {
	background-color: #ffb74d;
}

.reset:active {
	background-color: #b36a00;
}

.reset:disabled {
	background-color: #ff9800 !important;
}

.clear {
	background-color: #f44336;
}

.clear:hover {
	background-color: #f77b72;
}

.clear:active {
	background-color: #c6180b;
}

.clear:disabled {
	background-color: #f44336 !important;
}
